.idea/
node_modules/
.env
VoiceCast.iml
.next/
next-env.d.ts
public/uploads
git-filter-repo
public/generated-audios/
terraform/terraform.tfvars
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
