@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 248, 250, 252;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Audio player custom styling */
input[type='range'] {
    -webkit-appearance: none;
    height: 8px;
    background: #edf2f7;
    border-radius: 4px;
    background-image: linear-gradient(#3182ce, #3182ce);
    background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #3182ce;
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

/* Fix the Sidebar on mobile */
@media (max-width: 768px) {
    .fixed.inset-y-0.left-0 {
        top: 64px; /* Adjust based on your navbar height */
    }
}